html{
  box-sizing:border-box;
  font-size:16px;
}
*{
  box-sizing:inherit;
}
html,body{
  height:100%;
}
header,footer{
  height:10vh;
  width:100%;
  border:2px solid blue;
}
.hero{
  height:40vh;
  width:100%;
  border:2px solid black;
}
.left{
  height:100%;
  width:20%;
  border:2px solid black;
  float:left;
}
.right{
  height:100%;
  width:20%;
  border:2px solid black;
  float:left;
}
.middle1{
   height:100%;
  width:40%;
  border:2px solid black;
  float:left;
}
.middle2{
   height:100%;
  width:20%;
  border:2px solid black;
  float:left;
}
