html{
  box-sizing:border-box;
  font-size:16px;
}
*{
  box-sizing:inherit;
}
html,body{
  height:100%;
}
header,footer{
  height:10vh;
  width:100%;
  border:2px solid blue;
}
.hero{
  height:40vh;
  width:100%;
  border:2px solid black;
}
.other-left{
  height:100%;
  width:40%;
  border:2px solid black;
  float:left;
}
.other-right{
  height:100%;
  width:60%;
  border:2px solid black;
  float:left;
}
